In [89]:
import pandas as pd
import os
from datetime import datetime 
import glob
from pyxlsb import convert_date

In [90]:
path = "C:\\Users\\lindokuhle.tami\\Downloads\\Open_RA\\*.xlsb" #gets all the files to be combined
files = glob.glob(path)
print(files)

['C:\\Users\\lindokuhle.tami\\Downloads\\Open_RA\\OPENRA20230702_All Countries.xlsb']

In [91]:
dateparse = lambda x: datetime.strptime(x, '%Y/%m/%d')

df = pd.DataFrame()
for file in files:
    if(file.endswith('.xlsb') ):
        print(file)
        name = file[6:14]
        year = name[0:4]
        month = name[4:6]
        day = name[6:8]
        df = pd.read_excel(file)
        df['Checkout date','Exp checkin date']=convert_date(df['Checkout date','Exp checkin date'])
        df.insert(0,value=year+'/'+month+'/'+day ,column = "Date_of_report")# on the zeroth column add these
        #df.to_excel("C:\\Users\\lindokuhle.tami\\Downloads\\Open_RA\\ALL\\"+"testing"+".xlsx")
        
        
print("Done!")

C:\Users\lindokuhle.tami\Downloads\Open_RA\OPENRA20230702_All Countries.xlsb

KeyError: ('Checkout date', 'Exp checkin date')

In [92]:
df.head()

,Co Ind,Country,Checkout date,Exp checkin date,Days on rent,RA Number,Res Number,Reg no,Renter name,Actual group,...,VSS Amount,AST,AST Amount,PrePay Cash Amount,PrePay Check/EFT Amount,PrePay Voucher Amount,PrePay Total,Check Out Agent,Entering Check In Indicator,Entering Check In Date
0,A,BW,45100,45103,3,6707137,NaN,B512BOT,"AUTLWETSE,MOTLALEPULA",N,...,,,,0.0,0.0,0.0,0.0,388,N,0
1,A,BW,45107,45110,3,6738022,NaN,B670BPC,"KATISI,SUNA",N,...,,,,0.0,0.0,0.0,0.0,10796,N,0
2,A,BW,45107,45110,3,6738031,NaN,B784BOH,"ABDUL,JOSEPH",N,...,,,,0.0,0.0,0.0,0.0,10796,N,0
3,A,BW,45092,45107,15,109158361,NaN,B364BRM,"MOOKETSA,TMRS/MOTLHABANE,OMR",B,...,,,,0.0,0.0,0.0,0.0,38,N,0
4,A,BW,45098,45128,30,109158350,17355997ZA1,B491BSJ,"KHAMA,OGAISITSEMR",C,...,,,,8616.0,0.0,0.0,8616.0,38,N,0

In [ ]:
df